# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
silence-cutter-desktop/node_modules/
silence-remover/node_modules/
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
silence-cutter-desktop/normalized_output.wav
silence-cutter-desktop/normalized_audio.f32
silence-cutter-desktop/final_output.mp4
silence-cutter-desktop/bin/ffmpeg.exe
